/config.h.in
/autom4te.cache
/aclocal.m4
/configure
/config.h
/config.log
/config.status
/libtool
/stamp-h1
*.o
*.lo
*.la
cscope.out
*.log

*.trs

Makefile.in

Makefile

.[^.]*

*.tar.gz

/android2

/android/gen/

/android/hidrdtest/app/build/

/android/hidrdtest/build/

/android/hidrdtest/app/release/

/android/hidrdtest/app/debug/

/android/hidrdinline/app/build/

/android/hidrdinline/build/

/android/hidrdinline/app/release/

/android/hidrdinline/app/debug/

/auxdir/

/build/

 /.idea/

 /android/.gradle

android/gradle-app/src/main/jniLibs/*

android/ndk/*

/android/build/

android/deps/
 
/dist/

/build/*.in~

nbproject/private/

/cmake-build*/

/cmake/build/

/src/main/jniLibs/*

android/hidinline/src/main/assets/mouse_descriptor\.hex

android/hidinline/src/main/assets/mouse_descriptor\.xml

android/hidinline/src/main/assets/xml/schema/hidrd\.xsd

android/hidinline/src/main/assets/mouse_descriptor\.code

*.so

android/hidrdtest/src/main/assets/mouse_descriptor\.hex

android/hidrdtest/src/main/assets/mouse_descriptor\.xml

android/hidrdtest/src/main/assets/xml/schema/hidrd\.xsd

android/hidrdtest/src/main/assets/mouse_descriptor\.code

config\.h\.in~

android/hidrdinline/src/main/assets/mouse_descriptor\.xml

android/hidrdinline/src/main/assets/hidrd\.xsd
