/config.h.in
/autom4te.cache
/aclocal.m4
/configure
/config.h
/config.log
/config.status
/libtool
/stamp-h1
*.o
*.lo
*.la
cscope.out
*.log

*.trs

Makefile.in

Makefile

.[^.]*

*.tar.gz

/android/gen/

/android/gradle-app/app/build/

/android/gradle-app/build/

/android/gradle-app/app/release/

/android/gradle-app/app/debug/

/auxdir/

/build/

 /.idea/

 /android/.gradle

android/gradle-app/src/main/jniLibs/*

android/ndk/*
/android/build/
android/deps/

android/gradle-app/src/main/assets/hidrd\.xsd

android/gradle-app/src/main/assets/mouse_descriptor\.code

android/gradle-app/src/main/assets/mouse_descriptor\.hex

android/gradle-app/src/main/assets/mouse_descriptor\.xml

/dist/

/build/
*.in~

nbproject/private/

temp/
